{
    hoverButton: rgba(26, 26, 26, 0.91);
    textColor: #dcdbdb;
    -fx-font: 15px "Serif";
    background-color2: linear-gradient(rgba(78, 78, 78, 0.87) 0%, rgba(0, 0, 0, 0.86) 10%);
}

.button {
    -fx-text-fill: textColor;
    -fx-background-color: background-color2;
}

.button:hover {
    -fx-background-color: hoverButton;
}

.text-area{
    -fx-text-fill: textColor;
}
.text-area .content {
    -fx-background-color: transparent;
}

.text-area .viewport {
    -fx-background-color: background-color2;
}

