{
    textColor : rgba(26, 26, 26, 0.91);
    hoverButton: #d7d6d6;
    -fx-font: 15px "Serif";
    background-color2: linear-gradient(rgba(255, 255, 255, 0.98) 0%, rgba(219, 219, 219, 0.35) 10%);
}


.button {
    -fx-text-fill: textColor;
    -fx-background-color: background-color2;
}

.button:hover {
    -fx-background-color: hoverButton;
}

.text-field{
    -fx-text-fill: textColor;
    -fx-background-color: background-color2;
}

.text-area{
    -fx-text-fill: textColor;
}
.text-area .content {
    -fx-background-color: transparent;
}

.text-area .viewport {
    -fx-background-color: background-color2;
}

